/* made with <3 by reaganiwadha */

/* animation for live server
    so when i change something it
        blinks */
@keyframes blink{
    0%{ background:white; }
    100%{ background:black; }
}

/* font variables */
$primary-font : 'Roboto',sans-serif;
$title-font : 'Staatliches',Arial;

/* color variables */
$primary-color : #f1c40f;
$primary-color-darken : #ff8f00;


/* D E F A U L T S */
*{
    color:white;
    font-family: $primary-font;
}

html,body{
    animation-name: blink;
    animation-duration: 0.3s;
    background:black;
    margin:0;
    padding:0;
}

/* classes */ 


.mojok-kiri-flex{ margin-right:auto; }
.mojok-kanan-flex{ margin-left:auto; }

.title{
    font-family:$title-font;
    font-size:2em;
}

.yellow-btn{
    background-color: white;
    border-radius: 32px;
    border: none;
    padding-bottom:0.7em;
    padding-left:3em;
    padding-right:3em;
    padding-top:0.7em;
    color:black;
    cursor: pointer;
}

.start-menu{

}

.yellow-btn:hover{
    transition-duration: 0.2s;
    background-color: $primary-color-darken;
}

.navbar{
    align-items:center;
    display:flex;
    height:4em;
    padding-left:1em;
    padding-right:1em;
}
