/* made with <3 by reaganiwadha */

/* animation for live server
    so when i change something it
        blinks */
        @keyframes blink{
            0%{ background:white; }
            100%{ background:black; }
        }
        
        @keyframes dissapear{
            0%{ opacity:1 }
            100%{ opacity:0; visibility: hidden; }
        }
        
                

/* font variables */
$primary-font : 'Roboto',sans-serif;
$title-font : 'Staatliches',Arial;

/* color variables */
$primary-color : #f1c40f;
$primary-color-darken : #ff8f00;


/* D E F A U L T S */
*{
    color:white;
    font-family: $primary-font;
}

html,body{
    animation-name: blink;
    animation-duration: 0.3s;
    background:black;
    margin:0;
    padding:0;
}



/* classes */ 

.wrapcenter{ display:flex; justify-content: center; }
.fullwidth{ width:100%; }
.mojok-kiri-flex{ margin-right:auto; }
.mojok-kanan-flex{ margin-left:auto; }

.title{
    font-family:$title-font;
    font-size:2em;
}

.hideme{
    animation-name:dissapear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.yellow-btn{
    background-color: white;
    border-radius: 32px;
    border: none;
    padding-bottom:0.7em;
    padding-left:3em;
    padding-right:3em;
    padding-top:0.7em;
    color:black;
    cursor: pointer;
}

.start-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.yellow-btn:hover{
    transition-duration: 0.2s;
    background-color: $primary-color-darken;
}

.navbar{
    align-items:center;
    display:flex;
    height:4em;
    padding-left:1em;
    padding-right:1em;
}
